<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464204291110-6uuf5cqime2jnq5sb4cact7e6fq8d8kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464204291110-6uuf5cqime2jnq5sb4cact7e6fq8d8kj</string>
	<key>API_KEY</key>
	<string>AIzaSyAmnJdclq8NIBTbI678NkTiDdBdxCZrpd8</string>
	<key>GCM_SENDER_ID</key>
	<string>464204291110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sudachad</string>
	<key>PROJECT_ID</key>
	<string>sudochad-504d2</string>
	<key>STORAGE_BUCKET</key>
	<string>sudochad-504d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464204291110:ios:a3f1816a61f55bbaaadae7</string>
</dict>
</plist>